<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>

<div class="grow-details">
	<h1>Growshops Chile</h1>

	<div id="imperioSeedsRecoleta" class="hide">
		<h3>Imperio Seeds</h3>
		<h5>Calle Dardignac #527</h5>

		<p>Sector Patronato</p>
		<p>Recoleta</p> 
		<p>Metro: Estacion Patronato</p>
		<p>Contacto: 56 9 73507638 (Whatsapp)</p>
		<p>Lunes a Viernes: 10:00 a 19:00 (Horario Continuado)</p>
		<p>Sabados              : 10:00 a 16:00 hrs</p>
		<p>Encargado tienda: Vicente Ogaz</p>
	</div>

	<div id="somaGrowshop" class="hide">
		<h3>Soma Growshop</h3>
		
		<p>José Miguel de La Barra 454, Santiago de Chile</p>
		<p>Lun-Dom:	10:00-22:00</p>
		<p>Cafetería Sensorial</p>
		<p>No requiere reservas, Para llevar y Mesas en el exterior</p>
		<p>Sirve Café y Bebidas</p>
		<p>Teléfono (2) 2639 0442</p>
	</div>

	<div id="growGames" class="hide">
		<h3>Grow Games | Grow Shop Chile</h3>

		<p>GrowGames es un GrowShop, centrados en el trato directo con nuestros clientes, resolviendo cualquier duda que pueda surgirles, dando la solución mas económica y rápida posible.</p>
		<p>Local 65,Merced 832,Santiago,Región Metropolitana</p>
		<p>+56 9 8 158 00 45 | +56 2 2 696 82 97</p>
		<p>info@growgames.cl</p>
	</div>

	<div id="dinafem" class="hide">
		<h3>Dinafem Store Santiago</h3> 
		<p>Av. Libertador Bernardo Ohiggins #482 8330030 Santiago Chile | Ecuador #78 Viña del Mar Chile</p>
		<p>Llámanos ahora: Tienda Alameda: +569 64208716 Tienda en linea: +569 965061168</p>
		<p>Escríbanos un Email a: compras@dinafemstore.cl</p>
	</div>

	<div id="psicoactivo" class="hide">
		<h3>SANTIAGO CENTRO - EUROCENTRO</h3>
		<p>Moneda 970 Local 0214, Segundo Subterráneo, Galería EuroCentro</p>
		<p>Teléfono: (56-2) 2672 4916</p>
		<p>HORARIO DE ATENCION:</p>
		<p>Lunes a Viernes de 10:30 a 15:30 / 16:00 a 20:30 Hrs.</p>
		<p>Sábado de 11:00 a 16:00 Hrs.</p>
	</div>



<!-- CONCEPCION  -->	
	<div id="laVegaSeeds" class="hide">
		<h3>La Vega Seeds</h3> 
		<p>DeLaVega Growshop Limitada, Av 21 de mayo #3225 , Local 264 Vega Monumental</p>
		<p>Concepcion, Chile.</p>
		<p>Llámanos ahora: 041-2747897</p>
		<p>Escriba su dirección email: contacto@lavga.cl - lavgaseeds@gmail.com</p>
	</div>

</div>

<div class="dr-cannabis">
	<h2>Dr. Cannabis</h2>

	<p>Que quieres hacer?</p>
	<%= select_tag(:city_id, options_for_select([['Ver peliculas', 1], ['Relajarme', 2], ['Deporte', 2], ['Follar', 2], ['Comer', 2]])) %>

</div>

<div class="overlay hide">
	<div class="advise">
		<h2>Esta es la cepa que te recomiendo</h2>
		<p>Sativa - Proporciona una experiencia mas relajante</p>

		<p class="cerrar">Cerrar</p>
	</div>
</div>

<script>

    var growsArray = [];

    for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) { 
        if (document.getElementsByClassName("grow-details")[0].children[i].id !== "") {       
            growsArray.push(document.getElementsByClassName("grow-details")[0].children[i].id);
        }
    }


	// for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) { 
	// 	function (growsArray[i]) {
	// 	  var prueba = eval(growsArray[i]);
	// 	}
	//     prueba.addListener("click", function() {
	//         document.getElementById(prueba).removeAttribute("class", "hide");
	        
	//         for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) {        
	//             document.getElementsByClassName("grow-details")[0].children[i].setAttribute("class", "hide");       
	//             if (document.getElementsByClassName("grow-details")[0].children[i].id == prueba) {
	//                 document.getElementById(prueba).removeAttribute("class", "hide");
	//             }
	//         }
	//     });	

	function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {lat: -33.42536, lng: -70.566466}
    });


    // Create the search box and link it to the UI element.
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
            return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
            marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
            var icon = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
                map: map,
                icon: icon,
                title: place.name,
                position: place.geometry.location
            }));

            if (place.geometry.viewport) {
                // Only geocodes have viewport.
                bounds.union(place.geometry.viewport);
            } else {
                bounds.extend(place.geometry.location);
            }
        });
            map.fitBounds(bounds);
    });


    var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">Psicoactivo Vitacura</h1>'+
        '<div id="bodyContent">'+
        '<p>Av. Vitacura 6780, Local D-0011, Nivel -1, Los Cobres de Vitacura (Entre Teatro Amanda y Correos de Chile)</p>'+
        '<p>Teléfono: (56-2) 2218 0073</p>'+
        '<p>HORARIO DE ATENCION:</p>'+
        '<p>Lunes a Viernes de 10:30 a 15:30 / 16:00 a 20:30 Hrs.</p>'+
        '<p>Sábado de 11:00 a 16:00 Hrs.</p>'+
        '</div>'+
        '</div>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 300,
    });



    // var locations = {
    //     'dinafem':  new google.maps.Marker({
    //                     position: {lat: -33.4420634, lng: -70.64286479999998},
    //                     map: map,
    //                     title: 'Dinafem'
    //                 }),
    //     'growGames': new google.maps.Marker({
    //                     position: {lat: -33.4384068, lng: -70.64886280000002},
    //                     map: map,
    //                     // icon: 'assets/logo.png',
    //                     title: 'Grow Games'
    //                 }),
    //     'imperioSeedsRecoleta': new google.maps.Marker({
    //                                 position: {lat: -33.4319006, lng: -70.64667589999999},
    //                                 map: map,
    //                                 // icon: 'assets/logo.png',
    //                                 title: 'Imperio Seeds'
    //                             }),
    //     'somaGrowShop': new google.maps.Marker({
    //                         position: {lat: -33.4371948, lng: -70.6435702},
    //                         map: map,
    //                         title: 'Soma Grow Shop',
    //                         draggable: true,
    //                         animation: google.maps.Animation.DROP
    //                     })
    // }

    // var clickHandler = function(selector) {
    //     return function (event) {
    //         var elem = document.getElementById(selector);
    //         var growDetails = document.querySelector(".grow-details");

    //         elem.classList.remove("hide");

    //         for (i = 0; i < growDetails.children.length; i++) {        
    //             growDetails.children[i].classList.add("hide");       
    //             if (growDetails.children[i].id == selector) {
    //                 elem.classList.remove("hide");
    //             }
    //         }
    //     }
    // }

    // Object.keys(locations).forEach(function(location) {
    //     locations[location].addListener('click', clickHandler(location));
    // });


    /**********************************************************
                            SANTIAGO
    **********************************************************/

    var growShops = {};
    var growIcon = '/assets/grow-icon.png'

    growShops.dinafem = new google.maps.Marker({
        position: {lat: -33.4420634, lng: -70.64286479999998},
        map: map,
        title: 'Dinafem',
        icon: growIcon
    });

    growShops.growGames = new google.maps.Marker({
        position: {lat: -33.4384068, lng: -70.64886280000002},
        map: map,
        icon: growIcon,
        title: 'Grow Games'
    });

    growShops.imperioSeedsRecoleta = new google.maps.Marker({
        position: {lat: -33.4319006, lng: -70.64667589999999},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });

    growShops.somaGrowShop = new google.maps.Marker({
        position: {lat: -33.4371948, lng: -70.6435702},
        map: map,
        title: 'Soma Grow Shop',
        icon: growIcon,
        draggable: true,
        animation: google.maps.Animation.DROP
    });

    growShops.semillasDePajaro = new google.maps.Marker({
        position: {lat: -33.4235472, lng: -70.61269070000003},
        map: map,
        icon: growIcon,
        title: 'Semillas De Pajaro!'
    });

    growShops.germiniaLasCondes = new google.maps.Marker({
        position: {lat: -33.40996190000001, lng: -70.57069839999997},
        map: map,
        icon: growIcon,
        title: 'Germinia'
    });

    growShops.germiniaProvidencia = new google.maps.Marker({
        position: {lat: -33.4286315, lng: -70.62175960000002},
        map: map,
        icon: growIcon,
        title: 'Germinia'
    });

    growShops.germiniaSantiago = new google.maps.Marker({
        position: {lat: -33.4533675, lng: -70.6609689},
        map: map,
        icon: growIcon,
        title: 'Germinia'
    });

    growShops.growCenter = new google.maps.Marker({
        position: {lat: -33.5141155, lng: -70.7572293},
        map: map,
        icon: growIcon,
        title: 'Grow Center'
    });

    growShops.psicoactivo = new google.maps.Marker({
        position: {lat: -33.4418444, lng: -70.64976309999997},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    growShops.psicoactivoProvi = new google.maps.Marker({
        position: {lat: -33.4227173, lng: -70.60947729999998},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    growShops.psicoactivoVitacura = new google.maps.Marker({
        position: {lat: -33.3878172, lng: -70.5673428},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    growShops.imperioSeedsNunoa = new google.maps.Marker({
        position: {lat: -33.4545508, lng: -70.60495349999997},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });

    growShops.imperioSeedsProvi = new google.maps.Marker({
        position: {lat: -33.4281193, lng: -70.62009209999997},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });

    growShops.imperioSeedsMontt = new google.maps.Marker({
        position: {lat: -33.4351858, lng: -70.61631549999998},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });

    growShops.imperioSeedsCentro = new google.maps.Marker({
        position: {lat: -33.4632676, lng: -70.64705179999999},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });

    growShops.imperioSeedsVitacura = new google.maps.Marker({
        position: {lat: -33.3943137, lng: -70.57869529999999},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });




    /**********************************************************
                            IQUIQUE
    **********************************************************/

    growShops.psicoactivoIquique = new google.maps.Marker({
        position: {lat: -20.214991, lng: -70.14856739999999},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    /**********************************************************
                            ANTOFAGASTA
    **********************************************************/

    growShops.psicoactivoAntofa = new google.maps.Marker({
        position: {lat: -23.5921124, lng: -70.3897809},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    /**********************************************************
                            LA SERENA
    **********************************************************/

    growShops.psicoactivoSerena = new google.maps.Marker({
        position: {lat: -29.9027662, lng: -71.2499641},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });


    /**********************************************************
                            VIÑA DEL MAR
    **********************************************************/

    growShops.dinafemVina = new google.maps.Marker({
        position: {lat: -33.0228113, lng: -71.55967040000002},
        map: map,
        icon: growIcon,
        title: 'Dinafem Viña'
    });

    growShops.imperioSeedsVina = new google.maps.Marker({
        position: {lat: -33.021496, lng: -71.56087079999998},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });

    /**********************************************************
                            VALPARAISO
    **********************************************************/

    growShops.psicoactivoValpo = new google.maps.Marker({
        position: {lat: -33.0460926, lng: -71.62349440000003},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });


    /**********************************************************
                            CONCEPCION
    **********************************************************/

    growShops.psicoactivoConce = new google.maps.Marker({
        position: {lat: -36.826333, lng: -73.04832120000003},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    growShops.laVegaSeeds = new google.maps.Marker({
        position: {lat: -36.8090754, lng: -73.07676070000002},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    /**********************************************************
                            TEMUCO
    **********************************************************/

    growShops.psicoactivoTemuco = new google.maps.Marker({
        position: {lat: -38.7448017, lng: -72.5987667},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });

    /**********************************************************
                            VILLARRICA
    **********************************************************/

    growShops.psicoactivoVillarrica = new google.maps.Marker({
        position: {lat: -39.2822119, lng: -72.2268181},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });


    /**********************************************************
                            RANCAGUA
    **********************************************************/

    growShops.imperioSeedsRancagua = new google.maps.Marker({
        position: {lat: -34.1724248, lng: -70.74159199999997},
        map: map,
        icon: growIcon,
        title: 'Imperio Seeds'
    });


    /**********************************************************
                            QUILLOTA
    **********************************************************/

    growShops.psicoactivoQuillota = new google.maps.Marker({
        position: {lat: -32.8797984, lng: -71.24272710000002},
        map: map,
        icon: growIcon,
        title: 'Psicoactivo'
    });





    
 //    for (i = 0; i < growsArray.length; i++) { 
 //    	var whatIsGoingOn = growsArray[2]; 
	//     variables[whatIsGoingOn].addListener("click", function() {
	//         document.getElementById(whatIsGoingOn).removeAttribute("class", "hide");
	//         console.log("clicked");
	        
	//         for (t = 0; t < document.getElementsByClassName("grow-details")[0].children.length; t++) {        
	//             document.getElementsByClassName("grow-details")[0].children[t].setAttribute("class", "hide");       
	//             if (document.getElementsByClassName("grow-details")[0].children[t].id == growsArray[0]) {
	//             	console.log("RESTORED"),
	//                 document.getElementById(growsArray[0]).removeAttribute("class", "hide");
	//             }
	//         }
	//     });
	// }


    growShops['imperioSeedsRecoleta'].addListener("click", function() {
        document.getElementById('imperioSeedsRecoleta').removeAttribute("class", "hide");
        console.log("clicked");
        
        for (t = 0; t < document.getElementsByClassName("grow-details")[0].children.length; t++) {        
            document.getElementsByClassName("grow-details")[0].children[t].setAttribute("class", "hide");       
            if (document.getElementsByClassName("grow-details")[0].children[t].id == growsArray[0]) {
            	console.log("RESTORED"),
                document.getElementById(growsArray[0]).removeAttribute("class", "hide");
            }
        }
    });


    growShops['somaGrowShop'].addListener("click", function() {
        document.getElementById("somaGrowshop").removeAttribute("class", "hide");

        for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) {        
            document.getElementsByClassName("grow-details")[0].children[i].setAttribute("class", "hide");       
            if (document.getElementsByClassName("grow-details")[0].children[i].id == "somaGrowshop") {
                document.getElementById("somaGrowshop").removeAttribute("class", "hide");
            }
        }
    });

    growShops['growGames'].addListener("click", function() {
        document.getElementById("growGames").removeAttribute("class", "hide");

        for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) {        
            document.getElementsByClassName("grow-details")[0].children[i].setAttribute("class", "hide");       
            if (document.getElementsByClassName("grow-details")[0].children[i].id == "growGames") {
                document.getElementById("growGames").removeAttribute("class", "hide");
            }
        }
    });

    growShops['dinafem'].addListener("click", function() {
        document.getElementById("dinafem").removeAttribute("class", "hide");

        for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) {        
            document.getElementsByClassName("grow-details")[0].children[i].setAttribute("class", "hide");       
            if (document.getElementsByClassName("grow-details")[0].children[i].id == "dinafem") {
                document.getElementById("dinafem").removeAttribute("class", "hide");
            }
        }
    });

    growShops['psicoactivo'].addListener("click", function() {
        document.getElementById("psicoactivo").removeAttribute("class", "hide");

        for (i = 0; i < document.getElementsByClassName("grow-details")[0].children.length; i++) {        
            document.getElementsByClassName("grow-details")[0].children[i].setAttribute("class", "hide");       
            if (document.getElementsByClassName("grow-details")[0].children[i].id == "psicoactivo") {
                document.getElementById("psicoactivo").removeAttribute("class", "hide");
            }
        }
    });



	document.getElementById("city_id").onchange = function() {
		if (document.getElementById("city_id").options[1].text == "Relajarme" && document.getElementById("city_id").options[1].selected) {
			document.getElementsByClassName("overlay")[0].classList.remove("hide");
			console.log("true");
		} else {
			document.getElementsByClassName("overlay")[0].classList.add("hide");	
		}
	}

	// document.getElementsByClassName("advise")[0].onmouseover = function(){
	// 	console.log("over");
	// 	document.getElementsByClassName("overlay")[0].addEventListener("click", function() {console.log("fuckit");
	// 	});
	// };

	document.getElementsByClassName("cerrar")[0].onclick = function() {
		document.getElementsByClassName("overlay")[0].classList.add("hide");
	}

    growShops.psicoactivoVitacura.addListener('mouseover', function() {
        infowindow.open(map, growShops.psicoactivoVitacura);
    });

    growShops.psicoactivoVitacura.addListener('mouseout', function() {
        infowindow.close(map, growShops.psicoactivoVitacura);
    });

}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1ng0slxjBz4bLcSsw74Og5tkU_u3iF7g&libraries=places&callback=initMap">
</script>
